@import url('./colors.css');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: var(--orange);
  font-weight: bold;
}

a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: var(--orange);
  color: var(--white);
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: var(--white);
  background: var(--yellow);
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
.header-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-container h1 {
  font-size: 4rem;
  font-weight: 700;
}

.social-links {
  font-size: 3rem;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 5rem 0;
}

.section-bg {
  background: #d3d0e479;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}


.section-title-2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: white;
}


.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--dark-purple);
  bottom: 0;
  left: 0;

}

.section-title-2 h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--white);
  bottom: 0;
  left: 0;
  margin-bottom: 1.5rem;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--dark-purple);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: var(--orange);
}

.about .content p:last-child {
  margin-bottom: 0;
}

.img-fluid {
  height: 80%;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/

.projects {
  padding-bottom: 30px;
  background: var(--light-purple-transparent);
}

#projects>.container {
  display: flex;
  align-items: center;
}

.projects-div {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.projects-div>a {
  cursor: pointer;
}

.projects-div h5 {
  font-weight: bold;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/

.facts {
  padding-bottom: 30px;
  background: var(--white);
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: var(--orange);
  float: left;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

#skills>.container {
  display: flex;
  align-items: end;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
#resume {
  background-color: #3A1C4B;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  border-left: 2px solid var(--light-purple-transparent);
  position: relative;
  width: 100%;
}

.change-color {
  color: var(--white);
}

.change-color-2 {
  color: var(--dark-purple);
}

.change-color-3 {
  color: var(--orange);
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: var(--orange);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--white);
  border: 2px solid var(--orange);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background-color: #3A1C4B;
}

.contact-button {
  cursor: pointer;
}

.contact .info {
  background: var(--white);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  padding: 2rem 0;
}

.contact .info i {
  font-size: 20px;
  color: var(--orange);
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  font-size: 14px;
  color: var(--dark-purple);
  font-weight: bold;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: var(--white);
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: var(--orange);
  color: var(--white);
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: var(--orange);
  color: var(--white);
  display: flex;
  align-content: center;
}

.info {
  display: flex;
  justify-content: space-around;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px 0;
  color: var(--dark-purple);
  font-size: 14px;
  width: 100%;
  z-index: 9999;
  background: var(--light-purple-transparent);
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: var(--dark-purple);
}


@media only screen and (max-width: 768px) {

  img {
    height: 200px;
    width: 200px;
  }


  #skills>.container, #projects>.container, .header-container {
    flex-wrap: wrap;
  }

  .header-container>div>h1 {
    font-size: 3rem;
  }

  header {
    text-align: center;
    padding: 2rem;
    height: 100vh;
  }

  .header-container img {
    width: 100%;
  }

  .skills-image, .project-image, .profile-image {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .info-container {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 0 2rem;
  }

  .info {
    flex-direction: column;
  }

  .contact-button{
    margin: 0 2rem;
  }
}

#projects, #header {
  background-color: var(--light-purple-transparent);
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.2) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, 0.2) 75%);
  background-size: 20px 20px;
}